In [1]:
#import modules
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [9]:
dataColumns = []
for column in data:
    dataColumns.append(column)
dataColumns = dataColumns[2:]
#reshape data
longData = data.melt(id_vars=['group'], value_vars=dataColumns)

In [12]:
#process data
longData = longData.replace('x', 1)
longData = longData.replace('o', 0)
longData = longData.fillna(0)
longData

,group,variable,value
0,"Group1 - Betsy, Kurt, Ragavendar",Be at least 8-10 min. long,1.0
1,"Group2 - Abla, Cristian, Jordy, Seeh",Be at least 8-10 min. long,1.0
2,"Group3 - Alex, Joshua, Anna, Kim",Be at least 8-10 min. long,1.0
3,"Group4 - Mike, Victor, Ali, Shannon",Be at least 8-10 min. long,1.0
4,"Group5 - April, Tom, Andrew, Connor",Be at least 8-10 min. long,1.0
5,"Group6 - Viral, Bhavesh, Chris, Lissette",Be at least 8-10 min. long,1.0
6,"Group1 - Betsy, Kurt, Ragavendar",Describe the core message or hypothesis for yo...,1.0
7,"Group2 - Abla, Cristian, Jordy, Seeh",Describe the core message or hypothesis for yo...,1.0
8,"Group3 - Alex, Joshua, Anna, Kim",Describe the core message or hypothesis for yo...,1.0
9,"Group4 - Mike, Victor, Ali, Shannon",Describe the core message or hypothesis for yo...,1.0
10,"Group5 - April, Tom, Andrew, Connor",Describe the core message or hypothesis for yo...,0.0
11,"Group6 - Viral, Bhavesh, Chris, Lissette",Describe the core message or hypothesis for yo...,1.0
12,"Group1 - Betsy, Kurt, Ragavendar",Describe the questions you and your group foun...,1.0
13,"Group2 - Abla, Cristian, Jordy, Seeh",Describe the questions you and your group foun...,1.0
14,"Group3 - Alex, Joshua, Anna, Kim",Describe the questions you and your group foun...,1.0
15,"Group4 - Mike, Victor, Ali, Shannon",Describe the questions you and your group foun...,1.0
16,"Group5 - April, Tom, Andrew, Connor",Describe the questions you and your group foun...,1.0
17,"Group6 - Viral, Bhavesh, Chris, Lissette",Describe the questions you and your group foun...,1.0
18,"Group1 - Betsy, Kurt, Ragavendar",Summarize where and how you found the data you...,1.0
19,"Group2 - Abla, Cristian, Jordy, Seeh",Summarize where and how you found the data you...,1.0
20,"Group3 - Alex, Joshua, Anna, Kim",Summarize where and how you found the data you...,1.0
21,"Group4 - Mike, Victor, Ali, Shannon",Summarize where and how you found the data you...,1.0
22,"Group5 - April, Tom, Andrew, Connor",Summarize where and how you found the data you...,1.0
23,"Group6 - Viral, Bhavesh, Chris, Lissette",Summarize where and how you found the data you...,1.0
24,"Group1 - Betsy, Kurt, Ragavendar",Describe the data exploration and cleanup proc...,1.0
25,"Group2 - Abla, Cristian, Jordy, Seeh",Describe the data exploration and cleanup proc...,1.0
26,"Group3 - Alex, Joshua, Anna, Kim",Describe the data exploration and cleanup proc...,1.0
27,"Group4 - Mike, Victor, Ali, Shannon",Describe the data exploration and cleanup proc...,1.0
28,"Group5 - April, Tom, Andrew, Connor",Describe the data exploration and cleanup proc...,1.0
29,"Group6 - Viral, Bhavesh, Chris, Lissette",Describe the data exploration and cleanup proc...,1.0
...,...,...,...
66,"Group1 - Betsy, Kurt, Ragavendar",Create a Jupyter Notebook illustrating the fin...,1.0
67,"Group2 - Abla, Cristian, Jordy, Seeh",Create a Jupyter Notebook illustrating the fin...,1.0
68,"Group3 - Alex, Joshua, Anna, Kim",Create a Jupyter Notebook illustrating the fin...,1.0
69,"Group4 - Mike, Victor, Ali, Shannon",Create a Jupyter Notebook illustrating the fin...,1.0
70,"Group5 - April, Tom, Andrew, Connor",Create a Jupyter Notebook illustrating the fin...,1.0
71,"Group6 - Viral, Bhavesh, Chris, Lissette",Create a Jupyter Notebook illustrating the fin...,1.0
72,"Group1 - Betsy, Kurt, Ragavendar",Use Matplotlib to create a total of 6-8 visual...,1.0
73,"Group2 - Abla, Cristian, Jordy, Seeh",Use Matplotlib to create a total of 6-8 visual...,1.0
74,"Group3 - Alex, Joshua, Anna, Kim",Use Matplotlib to create a total of 6-8 visual...,1.0
75,"Group4 - Mike, Victor, Ali, Shannon",Use Matplotlib to create a total of 6-8 visual...,1.0
76,"Group5 - April, Tom, Andrew, Connor",Use Matplotlib to create a total of 6-8 visual...,1.0
77,"Group6 - Viral, Bhavesh, Chris, Lissette",Use Matplotlib to create a total of 6-8 visual...,1.0
78,"Group1 - Betsy, Kurt, Ragavendar",Save PNG images of your visualizations to dist...,1.0
79,"Group2 - Abla, Cristian, Jordy, Seeh",Save PNG images of your visualizations to dist...,1.0
80,"Group3 - Alex, Joshua, Anna, Kim",Save PNG images of your visualizations to dist...,1.0
81,"Group4 - Mike, Victor, Ali, Shannon",Save PNG images of your visualizations to dist...,1.0
82,"Group5 - April, Tom, Andrew, Connor",Save PNG images of your visualizations to dist...,1.0
83,"Group6 - Viral, Bhavesh, Chris, Lissette",Save PNG images of your visualizations to dist...,1.0
84,"Group1 - Betsy, Kurt, Ragavendar","Optionally, use at least one API, if you can f...",1.0
85,"Group2 - Abla, Cristian, Jordy, Seeh","Optionally, use at least one API, if you can f...",0.0
86,"Group3 - Alex, Joshua, Anna, Kim","Optionally, use at least one API, if you can f...",1.0
87,"Group4 - Mike, Victor, Ali, Shannon","Optionally, use at least one API, if you can f...",1.0
88,"Group5 - April, Tom, Andrew, Connor","Optionally, use at least one API, if you can f...",0.0
89,"Group6 - Viral, Bhavesh, Chris, Lissette","Optionally, use at least one API, if you can f...",0.0
90,"Group1 - Betsy, Kurt, Ragavendar",Create a write-up summarizing your major findi...,1.0
91,"Group2 - Abla, Cristian, Jordy, Seeh",Create a write-up summarizing your major findi...,1.0
92,"Group3 - Alex, Joshua, Anna, Kim",Create a write-up summarizing your major findi...,1.0
93,"Group4 - Mike, Victor, Ali, Shannon",Create a write-up summarizing your major findi...,1.0
94,"Group5 - April, Tom, Andrew, Connor",Create a write-up summarizing your major findi...,1.0
95,"Group6 - Viral, Bhavesh, Chris, Lissette",Create a write-up summarizing your major findi...,1.0

In [14]:
#summarize data
grouData = longData.groupby(by='group').sum()

In [ ]:
#convert dataframe to json format
groupDa